@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Open+Sans:ital@1&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,500;1,700&display=swap');
*{
    margin: 0 auto;
    font-family: 'Chela One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: 85px;
    color: white;
    background-color: rgb(0, 0, 0)
}
.z{
    color: red;
}
.hdr{
    display: flex;
    align-items: center;
}
.hdr h1{
    font-size: 30px;
    font-weight: 700;
    margin-left: 5px;
}
.hdr img{
    width: 35px;
}
nav{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}
nav>ul>li{
    list-style-type: none;
    float: left;
    margin-left: 30px;
}
nav>ul>li:first-child{
    margin-left: 0px;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
}
.follow{
    padding-left: 0px;
    margin-left: 15px;
    width: 221px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.301);
    border-radius: 5px;
}
.follow li{
    list-style-type: none;
    float: left;
    margin-left: 0px;
}
.follow li:first-child{
    margin-left: 15px;
}
.follow a{
    text-decoration: none;
}
.icon1{
    width: 20px;
}
.icon2{
    width: 15px;
}
.bnr{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: 100%;
}
.bnr-cntnt{
    width: 355px;
    
}
.bnr h1{
    color: white;
}
.w{
    font-weight: 500;
}
.m{
    font-weight: 700;
    color: rgb(212 6 39);
}
.bnr-cntnt ul{
    padding-left: 0px;
}
.bnr li{
    list-style-type: none;
    margin: 20px 0px 0px 0px;
}
.bnr li a{
    text-decoration: none;
    color: white;
}
.icon3{
    width: 20px;
}
button{
    margin-top: 20px;
    margin-left: 5px;
    width: 110px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: red;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s all ease;
}
button:hover{
    color: white;
    background-color: #2696b6;
    transform: scale(1.1);
}
.bnr-img{
    margin: 0px;
    display: flex;
}
.icon4{
    width: 265px;
    height: 416px;
}
.bns{
    display: flex;
    align-items: center;
    background:linear-gradient(90deg, #012e29, #2f4e50, #8f2620, #f4ee8c,lightgray,#232323 , black);
    width: 100%;
    height: 500px;
}
.bns-cntnt{
    text-align: right;
}
.bns-cntnt h2{
    font-size: 30px;
    color: #00567c;
}
.bns-cntnt p{
    color:pink;
    font-size: 15px;
    margin: 10px 0px 10px 0px;
    width: 260px;
    height: auto;
}
.bold{
    font-weight: 600;
}
.online-cntnt{
    margin-top: 20px;
    max-width: 1100px;
    height: 500px;
    background-color: #d3d3d359;
    border-radius: 20px;
}
.online{
    text-align: center;
    padding: 50px 0px 0px 0px;
}
.online h2{
    color:#2d857a;
    padding-bottom: 5px;
}
.color{
    color: rgb(160, 96, 106);
}
.online-img{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.onln-img{
    background-color: #d3d3d3b0;
    width: 215px;
    height: 310px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 8px 8px #343434;
    position: relative;
}

.onln-img figcaption{
    margin-top: 5px;
}
.onln-img img{
    width: 200px;
    height: 230px;
    border-radius: 15px;
    padding: 6px;
    transition: .3s all ease;
}
.overlay{
    position:absolute;
    width: 200px;
    height: 230px;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
}
.ovrly-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ovrly-img img{
    width: 20px;
    height: 20px;
}
.onln-img:hover .overlay{
    opacity: 0.7;
}

.cntnt3{
    display: flex;
    align-items: center;
    max-width: 1100px;
    height: 500px;
    margin-top: 50px;
}
.no-dnld{
    width: 385px;
    /* background-color: #00567c; */
    margin-left: 130px;
}
.no-dnld h2{
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.f{
    color:#af41af;
}
.no-dnld p{
    color: #534C64;
    letter-spacing: 2px;
    font-size: 15px;
}
.cntnt-img{
    display: flex;
    align-items: center;
    position: relative;
    width: 480px;
    height: 560px;
}
.cntnt-img img{
    position: relative;
    margin: 0px;
    border-radius: 10px;
    border: 3px solid white;
}
.img1{
    width: 105px;
    height: 155px;
    top: 130px;
    left: 50px;
    z-index: 1;
}
.img2{
    width: 200px;
    height: 300px;
}
.genre{
    display: flex;
    width: 959px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.gnr{
    display: flex;
}
.gnr ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
}
.gnr li{
    list-style-type: none;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    transition: 0.2s all ease;
}

.gnr li:hover{
    border: 2px solid purple;
}
.gnr img{
    width: 40px;
    height: 40px;
    margin: 0px 5px 0px 5px;
}
.gnr a{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color:black;
    margin-top: 4px;
}
.gnr p{
    margin: 0px;
}

.gnr a:hover {
    color: purple;
}

footer{
    width: 100%;
    height: 400px;
    background-color: #323232;
    padding-top: 50px;
}
.ftr{
    display: flex;
    align-items: center;
}
.ftr h1{
    font-size: 30px;
    font-weight: 700;
    margin-left: 3px;
    color: white;
}
.ftr img{
    width: 35px;
    margin-right: 0px;
}
.menu ul{
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 800px;
}
.menu li{
    list-style-type: none;
    color: white;
    font-size:15px;
}

.icon5 ul{
    margin: 40px 0px 40px 520px;
    display: flex;
}
.icon5 li{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    list-style-type: none;
    margin: 0px 10px 0px 10px;
    transition: .5s all ease;
}
.icon5 li:hover{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #7e7e7e87;
}
.icon5 img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* --------------------responsive------------------------- */
/* For mobile */
@media screen and (max-width:576px){
    header{
        flex-direction: column;
        height: 175px;
        padding-bottom: 15px;
        background-color: black ;
        width: 100%;
    }
    nav{
        flex-direction: column;
        margin-top: 5px;
    }
    nav>ul{
        padding: 0px;
    }
    nav>ul>li{
        float: none;
        margin: 20px 0px 0px 0px;
        text-align: center;
    }
    .follow{
        margin-top: 20px;
        width: 228px;
    }
    .follow li{
        margin: 0px 30px 0px 0px;
    }
    .bnr{
        flex-direction: column;
        text-align: center;
    }
    .bnr-img{
        margin-top: 20px;
    }
    .icon4{
        width: 115px;
        height: 180px;
    }
    .bns{
        height: auto;
        flex-direction: column;
        background:linear-gradient(0deg, #012e29, #2f4e50, #8f2620, #f4ee8c,lightgray,#232323 , #2e2e2e);
    }
    .bns-img{
        margin: 30px 0px 30px 0px;
    }
    .bns-img img{
        width: 390px;
        height: 245px;
    }
    .bns-cntnt{
        text-align: center;
    }
    .online-cntnt{
        height: 1600px;
    }
    .online-img{
        flex-direction: column;
    }
    .onln-img{
        margin-top: 30px;
    }
    .cntnt3{
        flex-direction: column;
        width: 100%;
        height: 570px;
       
    }
    .cntnt-img{
        margin-left: 60px;
    }
    .no-dnld{
        width: 380px;
        margin: 10px 0px 0px 0px;
        text-align: center;
    }
    .cntnt-img{
        width: 100%;
    }
    
    .genre{
        width: 100%;
        height: auto;
        margin: 40px 0px 40px 0px;
    }
    .gnr li{
        width: 130px;
        margin: ;
    }
    .gnr a{
        margin-top: 8px;
    }
    .gnr img{
        width: 35px;
        height: 35px;
    }
    .gnr p{
        font-size: 15px;
        font-weight: 600;
    }
    .ftr{
        margin: 0 auto;
    }
    .icon5 ul{
        margin: 40px 0px 40px 110px;
    }
    .menu ul{
        flex-wrap: wrap;
        width: 400px;
    }
    .menu-x ul{
        flex-wrap: wrap;
        align-items: center;
    }
}





